<main class="main-app">
    <app-header [isAuthenticated]="isAuthenticated" class="header"></app-header>
    @if (isAuthenticated) {
        <app-main-view
            class="main-view"
            (rotationChange)="onRotationChanged($event)"
            [cameraReset]="cameraResetValue">
        </app-main-view>
        <app-sidebar-left class="sidebar-left"></app-sidebar-left>
        @if (selectedObject) {
        <app-sidebar-right
            class="sidebar-right"
            [position]="sidebarRightPosition"
            [selectedObjectInput]="[selectedObject]"
            (positionChange)="sidebarRightPosition = $event">
        </app-sidebar-right>
        }
        <app-viewcube
            class="viewcube"
            [rotation]="currentRotation"
            (rotationChange)="onViewcubeRotation($event)"
            (cameraReset)="onViewcubeCameraReset($event)">
        </app-viewcube>
    }
</main>
