<div class="sidebar-content">
    <form [formGroup]="form">
        <div class="formheader">
            <h1>
                <input
                    type="text"
                    formControlName="name"
                    class="name-header"
                    placeholder="Titel eingeben..." />
            </h1>
            <button mat-icon-button (mousedown)="onMouseDown($event)">
                <mat-icon>open_with</mat-icon>
            </button>
            <button mat-icon-button (click)="onClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        @if (selectedObject.type === 'Freeform') {
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>Commands</mat-panel-title>
            </mat-expansion-panel-header>

            <div formArrayName="commands">
                @for (item of commands.controls; track $index) {
                <div [formGroupName]="$index" class="command-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option value="moveTo" disabled>moveTo</mat-option>
                            <mat-option value="lineTo">lineTo</mat-option>
                            <mat-option value="quadraticCurveTo">quadraticCurveTo</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>X</mat-label>
                        <input matInput type="number" formControlName="x" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Y</mat-label>
                        <input matInput type="number" formControlName="y" />
                    </mat-form-field>
                    @if (item.value.type === 'quadraticCurveTo') {
                    <mat-form-field appearance="outline">
                        <mat-label>Control X</mat-label>
                        <input matInput type="number" formControlName="cpX" />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Control Y</mat-label>
                        <input matInput type="number" formControlName="cpY" />
                    </mat-form-field>
                    }
                    @if (item.value.type !== 'moveTo') {
                        <button mat-icon-button type="button"
                            (click)="removeCommand($index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    }
                </div>
                }
                <button mat-raised-button color="primary" type="button"
                    (click)="addCommand()">Add Command</button>
            </div>
        </mat-expansion-panel>
        }
        <mat-expansion-panel expanded formGroupName="size">
            <mat-expansion-panel-header>
                <mat-panel-title>Size</mat-panel-title>
            </mat-expansion-panel-header>
            @if (!['Circle', 'Freeform'].includes(selectedObject.type)) {
            <mat-form-field appearance="outline">
                <mat-label>Width</mat-label>
                <input matInput type="number" formControlName="length" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Length</mat-label>
                <input matInput type="number" formControlName="width" />
            </mat-form-field>
            }
            <mat-form-field appearance="outline">
                <mat-label>Height</mat-label>
                <input matInput type="number" formControlName="height" />
            </mat-form-field>
            @if (selectedObject.type === 'Circle') {
            <mat-form-field appearance="outline">
                <mat-label>Radius</mat-label>
                <input matInput type="number" formControlName="radius" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Curve Segments</mat-label>
                <input matInput type="number" formControlName="curveSegments" />
            </mat-form-field>
            }
        </mat-expansion-panel>
        @if (selectedObject.type !== 'Freeform') {
        <mat-expansion-panel formGroupName="position">
            <mat-expansion-panel-header>
                <mat-panel-title>Position</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline">
                <mat-label>X</mat-label>
                <input matInput type="number" formControlName="x" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Y</mat-label>
                <input matInput type="number" formControlName="y" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Z</mat-label>
                <input matInput type="number" formControlName="z" />
            </mat-form-field>
        </mat-expansion-panel>
        }
        <mat-expansion-panel formGroupName="rotation">
            <mat-expansion-panel-header>
                <mat-panel-title>Rotation</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="outline">
                <mat-label>X</mat-label>
                <input matInput type="number" formControlName="x" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Y</mat-label>
                <input matInput type="number" formControlName="y" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Z</mat-label>
                <input matInput type="number" formControlName="z" />
            </mat-form-field>
        </mat-expansion-panel>
        <div class="form-actions">
            <button mat-raised-button color="primary" type="submit"
                (click)="onSubmit()">Apply</button>
            <button mat-raised-button color="warn" type="button"
                (click)="onDelete()">Delete</button>
        </div>
    </form>
</div>
