<div class="sidebar-content" (mousedown)="onMouseDown($event)">
    <h1>{{ selectedObjectInput?.name }}</h1>
    <form [formGroup]="form">
        <fieldset class="fieldset" formGroupName="size">
            <legend>Size</legend>
            <label *ngIf="selectedObject?.type !== 'Circle'">
                Length:
                <input type="number" formControlName="length">
            </label>
            <label *ngIf="selectedObject?.type !== 'Circle'">
                Width:
                <input type="number" formControlName="width">
            </label>
            <label>
                Height:
                <input type="number" formControlName="height">
            </label>
            <label *ngIf="selectedObject?.type === 'Circle'">
                Radius:
                <input type="number" formControlName="radius">
            </label>
        </fieldset>
        <fieldset class="fieldset" formGroupName="position">
            <legend>Position</legend>
            <label>
                X:
                <input type="number" formControlName="x">
            </label>
            <label>
                Y:
                <input type="number" formControlName="y">
            </label>
            <label>
                Z:
                <input type="number" formControlName="z">
            </label>
        </fieldset>
        <button type="submit" (click)="onSubmit()">Apply</button>
    </form>
</div>
