<div class="sidebar-content">
    <form [formGroup]="form">
        <div class="formheader">
            <input class="name-input" type="text" formControlName="name"/>
            <mat-icon (mousedown)="onMouseDown($event)">open_with</mat-icon>
            <mat-icon (click)="onClose()">close</mat-icon>
        </div>
        @if (selectedObject.type === 'Freeform') {
            <fieldset class="fieldset" formArrayName="commands">
                <legend>Commands</legend>
                @for (item of commands.controls; track $index) {
                    <div [formGroupName]="$index" class="command-group">
                        <label>
                            Type:
                            <select formControlName="type">
                                <option value="moveTo">moveTo</option>
                                <option value="lineTo">lineTo</option>
                                <option value="quadraticCurveTo">quadraticCurveTo</option>
                            </select>
                        </label>
                        <label>
                            X:
                            <input type="number" formControlName="x" />
                        </label>
                        <label>
                            Y:
                            <input type="number" formControlName="y" />
                        </label>
                        @if (item.value.type === 'quadraticCurveTo') {
                            <label>
                                Control X:
                                <input type="number" formControlName="cpX" />
                            </label>
                            <label>
                                Control Y:
                                <input type="number" formControlName="cpY" />
                            </label>
                        }
                        <button type="button" (click)="removeCommand($index)"><mat-icon>delete</mat-icon></button>
                    </div>
                }
                <button type="button" (click)="addCommand()">Add Command</button>
            </fieldset>
        }
        <button type="submit" (click)="onSubmit()">Apply</button>
        <button type="button" (click)="onDelete()">Delete</button>
    </form>
</div>
