<div class="overview-container">
    <header class="overview-header">
        <h1>Overview</h1>
        <button class="new-project-btn" (click)="addProject()">New Project</button>
    </header>

    <section class="project-filters">
        <button class="filter-btn" [class.active]="showMyProjects" (click)="showMyProjects = true">My Projects</button>
        <button class="filter-btn" [class.active]="!showMyProjects" (click)="showMyProjects = false">Public</button>
        <input #searchInput type="text" class="search-input" placeholder="Search projects..." (input)="applyFilter(searchInput.value)">
    </section>

    <section class="projects-grid">
        @if (projectsLoading) {
            <p>Loading projects...</p>
        } @else {
            <!-- Private Project card -->
            @if (showMyProjects) {
                @for (project of myProjects; track $index) {
                    <div class="project-card" (click)="openProject(project.id, project.name, project.licenceKey)">
                        <div class="project-thumb">
                            <img src="something" alt="something">
                        </div>
                        <div class="project-info">
                            <div class="project-card-header">
                                <h2 class="project-title">{{ project.name }}</h2>
                                <mat-icon (click)="openProjectActions()">more_vert</mat-icon>
                            </div>
                            <br>
                            <p class="project-meta">Created at {{ project.createdAt.toDate().toLocaleDateString() }}</p>
                            @if (project.updatedAt) {
                                <p class="project-meta">Updated at {{ project.updatedAt.toDate().toLocaleDateString() }}</p>
                            }
                        </div>
                    </div>
                }
            } @else {
                <!-- Public Project card -->
                @for (project of publicProjects; track $index) {
                    <div class="project-card" (click)="openProject(project.id, project.name, project.licenceKey)">
                        <div class="project-thumb">
                            <img src="something" alt="something">
                        </div>
                        <div class="project-info">
                            <div class="project-card-header">
                                <h2 class="project-title">{{ project.name }}</h2>
                            </div>
                            <br>
                            <p class="project-meta">Public Project</p>
                            <p class="project-meta">Owned by {{ project.ownerEmail }}</p>
                        </div>
                    </div>
                }
            }
        }
    </section>
</div>
