<div class="overview-container">
    <header class="overview-header">
        <h1>Overview</h1>
        <button class="new-project-btn">New Project</button>
    </header>

    <section class="project-filters">
        <button class="filter-btn">My Projects</button>
        <button class="filter-btn">Public</button>
        <input type="text" class="search-input" placeholder="Search projects...">
    </section>

    <section class="projects-grid">
        <!-- Private Project card -->
        @for (project of projects; track $index) {
            <div class="project-card">
                <div class="project-thumb"></div>
                <div class="project-info">
                    <div class="project-card-header">
                        <h2 class="project-title" (click)="openProject(project.id)">{{ project.name }}</h2>
                        @if (project.licenceKey !== 'public') {
                            <mat-icon (click)="openProjectActions()">more_vert</mat-icon>
                        }
                    </div>
                    <br>
                    @if (project.licenceKey !== 'public') {
                        <p class="project-meta">Created at {{ project.createdAt.toLocaleDateString() }} • Updated {{ project.updatedAt?.toLocaleDateString() }}</p>
                    } @else {
                        <p class="project-meta">Public Project • Owned by {{ project.ownerEmail }}</p>
                    }
                </div>
            </div>
        }
    </section>
</div>
