<div class="main">
    <button mat-icon-button (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="upload()">
        <mat-icon>upload</mat-icon>
    </button>
    <hr>
    <button mat-icon-button (click)="rectangle()">
        <mat-icon>square</mat-icon>
    </button>
    <button mat-icon-button (click)="triangle()">
        <mat-icon>signal_cellular_4_bar</mat-icon>
    </button>
    <button mat-icon-button (click)="circle()">
        <mat-icon>circle</mat-icon>
    </button>
    <hr>
    <button mat-icon-button (click)="extrusion()">
        <mat-icon>view_in_ar</mat-icon>
    </button>
</div>
