.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100vw;
    min-height: 80px;
    align-items: center;
    padding: 0 1%;
    gap: 1%;
    background: #f88;
}

.editor-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8vh;
    gap: 2%;
}

hr {
    border: #d9d9d9 solid 1px;
    height: 35%;
}

mat-icon {
    color: rgba(0, 0, 0, 0.5);
}

mat-icon:hover {
    color: rgb(255, 255, 255);
}

#title {
    text-shadow: #fff 2px 1px 5px;
}

.right-align {
    margin-left: auto;
    display: flex;
    flex-direction: row;

    .user-span {
        margin-right: 20px;
    }
}
