<div class="main">
    <button mat-icon-button (click)="save()">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="upload()">
        <mat-icon>upload</mat-icon>
    </button>
    <hr>
    <button mat-icon-button (click)="line()">
        <mat-icon>show_chart</mat-icon>
    </button>
    <button mat-icon-button (click)="rectangle()">
        <mat-icon>square</mat-icon>
    </button>
    <button mat-icon-button (click)="circle()">
        <mat-icon>circle</mat-icon>
    </button>
    <hr>
    <button mat-icon-button (click)="shape_lines()">
        <mat-icon>shape_lines</mat-icon>
    </button>
    <button mat-icon-button (click)="extrusion()">
        <mat-icon>layers</mat-icon>
    </button>
    <h1>Minimal CAD</h1>
</div>
