.main {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    gap: 1%;
}

hr {
    border: #d9d9d9 solid 1px;
}

mat-icon {
    color: rgba(0, 0, 0, 0.5);
}

mat-icon:hover {
    color: rgb(255, 255, 255);
}

h1 {
    text-shadow: #fff 2px 1px 5px;
    margin-left: auto;
}
