* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Lucida Console", "Courier New", monospace;
}

.root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.mat-form-field-disabled {
    color: #aaa;
}
